body {
    background-color:rgb(194, 207, 194);
}
header {
    background-color:rgb(89, 105, 95);
    color: white;
    height:100px;
    text-align:center;
    padding: 30px;
}
section {
    display: flex;
    flex-direction:column;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items:center;
    gap: 30px;
    height: 90vh;
}


.box1 {
    height:350px;
    width:250px;
    background-color: rgb(42, 44, 42);

}
.box2 {
    height:100px;
    width:150px;
    background-color: rgb(42, 44, 42);
    
}
.box3 {
    height:100px;
    width:150px;
    background-color: rgb(42, 44, 42);

}
.box4 {
    height:100px;
    width:150px;
    background-color: rgb(42, 44, 42);
}

.endbox {
    height: 200px;
    width: 400px;
    background-color: rgb(42, 44, 42);
}
